<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Gattitude Automation Suite">

	<listeners>
		<listener class-name="com.gattitude.listeners.GatListener"/>
	</listeners>
	
  <test thread-count="5" name="Gattitude Tests">
    <classes>
    
    <!--
      <class name="com.gattitude.testCases.TC_02_SearchTest"/>
    -->
    
      <class name="com.gattitude.testCases.TC_01_LoginTest"/>
      <class name="com.gattitude.testCases.TC_03_ShoppingCartTest"/>

    </classes>
  </test> <!-- Test -->

	
</suite> <!-- Suite -->
